.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.direnv
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Cloudflare Types
/worker-configuration.d.ts

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
