{
    "printWidth": 80,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "tailwindAttributes": ["/^\\w+Class$/"],
    "tailwindStylesheet": "./src/routes/style.css",
    "tailwindFunctions": ["clsx", "cn", "tv", "twMerge"],
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [
        { "files": "*.svelte", "options": { "parser": "svelte" } },
        { "files": "**.yml", "options": { "tabWidth": 2 } }
    ]
}
