@import 'tailwindcss';

@plugin '@catppuccin/tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --animate-terminal-blink: terminal-blink 1s step-end infinite;

  --font-mono: Iosevka Custom, Roboto Mono, monospace;

  @keyframes terminal-blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

@layer base {
    svg {
        width: 1em;
        height: 1em;
    }

    svg > :not(mask),
    svg > :not(mask) > :not(mask),
    svg > :not(mask) > :not(mask) > :not(mask),
    svg > :not(mask) > :not(mask) > :not(mask) > :not(mask),
    svg > :not(mask) > :not(mask) > :not(mask) > :not(mask) > :not(mask),
    svg > :not(mask) > :not(mask) > :not(mask) > :not(mask) > :not(mask) * {
        fill: currentColor;
    }
}
